@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

img.octoo-header {
	width: auto;
    height: 32px;
}

.playfair-display {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}