name: Deploy to GitHub Pages

on:
  push:
    branches: 'main'

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm install

      - name: build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
        run: |
          npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          # this should match the `pages` option in your adapter-static options
          path: 'build/'

  deploy_github_pages:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4

  deploy_octoo_pro:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Pulumi configs only
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            Pulumi.yaml
            Pulumi.static.yaml
          sparse-checkout-cone-mode: false
      - name: Get built pages
        id: get-artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: build/
      - name: Extract artifact.tar in build/
        run: |
        cd build/
        tar -xf artifact.tar
        rm artifact.tar
        ls
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::077818651371:role/octoo-tech-github-actions
          aws-region: us-west-2
      - name: STS identity
        run: |
          aws sts get-caller-identity --output=text --no-cli-pager
      - uses: pulumi/actions@v4
        with:
          command: up
          stack-name: static
          upsert: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
